<div>
  <p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{store.name}}</b>
        </mat-panel-title>
        <mat-panel-description>
          {{store.distance}}
          {{store.items.length}} Produkte
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-card *ngFor="let item of store.items">
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
          <mat-card-content>
            <button mat-mini-fab>
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</div>
