mat-form-field {
  width: 100%;
}

.flex {
  display: flex;
}

.flexElement {
  flex: 1;
}

.secondElement {
  padding-left: 1em;
}

button {
  width: 100%;
}

.greenButton {
  background-color: green;
  color: white;
}
