<h2>Dein Warenkorb</h2>

Folgende Produkte befinden sich aktuell in deinem Warenkorb.

<p></p>
<mat-card *ngFor="let store of cart$ | async">
  <mat-card-title>
    {{store.name}}
  </mat-card-title>
    <div *ngFor="let item of store.items" class="item">
      {{item.name}} - {{item.price}}
      <p>
        1 Stück
      </p>
    </div>
</mat-card>
<p></p>
<h3>Gesamt {{sum$ | async}}€</h3>
<div *ngIf="(sum$ | async) > 0">
  <p></p>
  Die Lieferung deiner oben aufgeführten Bestellung erfolgt <b>kontaktlos</b> und <b>per
  Lastenrad</b>.
  <br>
  <button mat-raised-button class="orderButton">Zur Kasse</button>
</div>
