<h2>Dein Warenkorb</h2>

Folgende Produkte befinden sich aktuell in deinem Warenkorb.

<p></p>
<mat-card *ngFor="let store of cart$ | async">
  <mat-card-title>
    {{store.name}}
  </mat-card-title>
  <div *ngFor="let item of getStoreItems(store)">
    <div class="item">
      <div class="flex">
        <div class="flexDiv">
          {{item.storeItem.name}} - {{item.storeItem.price}}
          <p>
            {{item.qty}} Stück
          </p>
        </div>
        <div class="flexDiv">
          <!--      <button mat-mini-fab class="removeButton" (click)="removeItem(store, item)">-->
          <!--        <mat-icon>remove</mat-icon>-->
          <!--      </button>-->
          <button mat-raised-button (click)="removeItem(store, item)">
            löschen
          </button>
        </div>
      </div>
      <div class="addRemoveButton">
        <button mat-mini-fab class="removeButton" (click)="removeQty(store, item)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
<p></p>
<h3>Gesamt {{sum$ | async}}€</h3>
<div *ngIf="(sum$ | async) > 0">
  <p></p>
  Die Lieferung deiner oben aufgeführten Bestellung erfolgt <b>kontaktlos</b> und <b>per
  Lastenrad</b>.
  <br>
  <button mat-raised-button class="orderButton">Zur Kasse</button>
</div>
<br>
<div class="center">
  <button mat-raised-button routerLink="/products">Weiter einkaufen</button>
</div>
