<mat-toolbar>
  <mat-icon>menu</mat-icon>
  <h1><a routerLink="/"><img src="../assets/images/logo.png" class="logo"></a></h1>
  <span class="fill"></span>
  <a routerLink="/cart">
    <mat-icon matBadge="{{storesService.cartCount$ | async}}"
              matBadgePosition="below before">shopping_basket
    </mat-icon>
  </a>
</mat-toolbar>
<div id="content">
  <router-outlet></router-outlet>
</div>
<div class="github">
  <a href="https://github.com/LocalShop24/LocalShop24">https://github.com/LocalShop24/LocalShop24</a>
</div>
