<mat-card *ngIf="(store$ | async) as store">
  <mat-card-title>{{store.name}}</mat-card-title>
  <mat-card-subtitle>{{store.distance}}</mat-card-subtitle>
  <mat-card-content>
    <h2>Über den Store</h2>

    <h2>Produkte</h2>
    <mat-list-item *ngFor="let item of store.items">
      {{item.name}} - {{item.price}}
    </mat-list-item>
  </mat-card-content>
</mat-card>

<ng-chat [adapter]="adapter" [userId]="999" [historyEnabled]="true"
         [historyPageSize]="4" [hideFriendsList]="false"
         (onMessagesSeen)="messageSeen($event)"
         messagePlaceholder="Nachricht eingeben"
         title="Kontakt"
         isViewportOnMobileEnabled="true"></ng-chat>
